In [9]:
# Definición de variables 
import pandapower.networks as pp_net
import pandapower as pp
from pandapower.grid_equivalents import get_equivalent
from pandas import read_csv
import matplotlib.pyplot as plt
import numpy as np
# cargamos el modelo eléctrico 
net = pp_net.case9()
net.line.iloc[:, list(net.line.columns).index('max_i_ka')] = net.line.iloc[:, list(net.line.columns).index('max_i_ka')]
net.bus.iloc[:, list(net.bus.columns).index('max_vm_pu')] = 1.1
net.bus.iloc[:, list(net.bus.columns).index('min_vm_pu')] = 0.9
pp.runpp(net)
net

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

This pandapower network includes the following parameter tables:
   - bus (9 elements)
   - load (3 elements)
   - gen (2 elements)
   - ext_grid (1 element)
   - line (9 elements)
   - poly_cost (3 elements)
   - bus_geodata (9 elements)
 and the following results tables:
   - res_bus (9 elements)
   - res_line (9 elements)
   - res_ext_grid (1 element)
   - res_load (3 elements)
   - res_gen (2 elements)

In [28]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service,max_loading_percent
0,None,None,0,3,1.0,0.000000,68.558400,0.000000,0.0,0.418370,1.0,1,ol,True,100.0
1,None,None,3,4,1.0,20.234250,109.503000,352.117636,0.0,0.418370,1.0,1,ol,True,100.0
2,None,None,4,5,1.0,46.419750,202.342500,797.836164,0.0,0.251022,1.0,1,ol,True,100.0
3,None,None,2,5,1.0,0.000000,69.748650,0.000000,0.0,0.502044,1.0,1,ol,True,100.0
4,None,None,5,6,1.0,14.163975,119.977200,465.775861,0.0,0.251022,1.0,1,ol,True,100.0
5,None,None,6,7,1.0,10.117125,85.698000,332.060303,0.0,0.418370,1.0,1,ol,True,100.0
6,None,None,7,1,1.0,0.000000,74.390625,0.000000,0.0,0.418370,1.0,1,ol,True,100.0
7,None,None,7,8,1.0,38.088000,191.630250,681.949347,0.0,0.418370,1.0,1,ol,True,100.0
8,None,None,8,3,1.0,11.902500,101.171250,392.232304,0.0,0.418370,1.0,1,ol,True,100.0

In [27]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,71.954702,24.068958,-71.954702,-20.753045,0.000000,3.315913,0.126973,0.126973,0.126973,1.000000,0.000000,0.987007,-2.406644,30.349415
1,30.728280,-0.585851,-30.554686,-13.687951,0.173595,-14.273801,0.052110,0.057438,0.057438,0.987007,-2.406644,0.975472,-4.017264,13.728971
2,-59.445314,-16.312049,60.893866,-12.427470,1.448551,-28.739519,0.105752,0.103655,0.105752,0.975472,-4.017264,1.003375,1.925602,42.128485
3,85.000000,-3.649026,-85.000000,7.890678,0.000000,4.241653,0.142377,0.142377,0.142377,1.000000,4.771073,1.003375,1.925602,28.359430
4,24.106134,4.536791,-24.010648,-24.400762,0.095486,-19.863971,0.040911,0.058123,0.058123,1.003375,1.925602,0.985645,0.621545,23.154484
5,-75.989352,-10.599238,76.495564,0.256239,0.506212,-10.342998,0.130268,0.128505,0.130268,0.985645,0.621545,0.996185,3.799120,31.136975
6,-163.000000,2.276190,163.000000,14.460120,0.000000,16.736309,0.273848,0.273848,0.273848,0.996185,3.799120,1.000000,9.668741,65.456056
7,86.504436,-2.532429,-84.039887,-14.281983,2.464549,-16.814412,0.145380,0.148969,0.148969,0.996185,3.799120,0.957621,-4.349934,35.606908
8,-40.960113,-35.718017,41.226421,21.338895,0.266308,-14.379122,0.094972,0.078708,0.094972,0.957621,-4.349934,0.987007,-2.406644,22.700497

In [16]:
# equivalent type
eq_type = "ward"
internal_buses = [5]
boundary_buses = [4,8]
net_eq1 = get_equivalent(net, eq_type, boundary_buses, internal_buses)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [20]:
# equivalent type
eq_type = "ward"
internal_buses = [0]
boundary_buses = [4,8]
net_eq2 = get_equivalent(net, eq_type, boundary_buses, internal_buses)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [26]:
net_eq1.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
2,-59.445314,-16.312050,60.893866,-12.427469,1.448551,-28.739519,0.105752,0.103655,0.105752,0.975472,-4.017264,1.003375,1.925602,42.128485
3,85.000000,-3.649025,-85.000000,7.890678,0.000000,4.241653,0.142377,0.142377,0.142377,1.000000,4.771073,1.003375,1.925602,28.359430
4,24.106134,4.536791,-24.010648,-24.400762,0.095486,-19.863971,0.040911,0.058123,0.058123,1.003375,1.925602,0.985645,0.621544,23.154484
5,-75.989352,-10.599238,76.495564,0.256239,0.506212,-10.342998,0.130268,0.128505,0.130268,0.985645,0.621544,0.996185,3.799120,31.136975
6,-163.000000,2.276189,163.000000,14.460120,0.000000,16.736309,0.273848,0.273848,0.273848,0.996185,3.799120,1.000000,9.668741,65.456056
7,86.504436,-2.532429,-84.039887,-14.281983,2.464549,-16.814412,0.145380,0.148969,0.148969,0.996185,3.799120,0.957621,-4.349934,35.606908

In [25]:
net_eq2.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,71.954702,24.068958,-71.954702,-20.753045,0.000000,3.315913,0.126973,0.126973,0.126973,1.000000,0.000000,0.987007,-2.406644,30.349415
1,30.728280,-0.585851,-30.554685,-13.687950,0.173595,-14.273801,0.052110,0.057438,0.057438,0.987007,-2.406644,0.975472,-4.017264,13.728971
8,-40.960113,-35.718017,41.226422,21.338896,0.266308,-14.379122,0.094972,0.078708,0.094972,0.957621,-4.349934,0.987007,-2.406644,22.700497

In [29]:
net_eq1.ward

,name,bus,ps_mw,qs_mvar,qz_mvar,pz_mw,in_service
0,network_equivalent,0,1.421085e-14,-3.552714e-13,-7.323852,0.616216,True
1,network_equivalent,4,2.162294e-02,6.009710e-01,-13.034482,-0.468978,True
2,network_equivalent,8,1.360951e-02,1.140204e+00,-14.987043,-0.178873,True

In [30]:
net_eq2.ward

,name,bus,ps_mw,qs_mvar,qz_mvar,pz_mw,in_service
0,network_equivalent,4,-61.258112,34.553822,-57.087899,0.083012,True
1,network_equivalent,8,-83.211208,41.300942,-56.922631,0.973863,True

In [22]:
net_eq1.res_ward

       p_mw     q_mvar     vm_pu
0  0.616216  -7.323852  1.000000
1 -0.424632 -11.801937  0.975472
2 -0.150424 -12.603485  0.957621

In [23]:
net_eq2.res_ward

        p_mw     q_mvar     vm_pu
0 -61.179122 -19.767938  0.975472
1 -82.318139 -10.899277  0.957621