In [38]:
# Definición de variables 
import pandapower.networks as pp_net
import pandapower as pp
from pandapower.grid_equivalents import get_equivalent
from pandas import read_csv
import matplotlib.pyplot as plt
import numpy as np
# cargamos el modelo eléctrico 
net = pp_net.case39()
net.line.iloc[:, list(net.line.columns).index('max_i_ka')] = net.line.iloc[:, list(net.line.columns).index('max_i_ka')]
net.bus.iloc[:, list(net.bus.columns).index('max_vm_pu')] = 1.1
net.bus.iloc[:, list(net.bus.columns).index('min_vm_pu')] = 0.9
pp.runpp(net)
net

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

This pandapower network includes the following parameter tables:
   - bus (39 elements)
   - load (21 elements)
   - gen (9 elements)
   - ext_grid (1 element)
   - line (35 elements)
   - trafo (11 elements)
   - poly_cost (10 elements)
   - bus_geodata (39 elements)
 and the following results tables:
   - res_bus (39 elements)
   - res_line (35 elements)
   - res_trafo (11 elements)
   - res_ext_grid (1 element)
   - res_load (21 elements)
   - res_gen (9 elements)

In [39]:
# equivalent type
eq_type = "ward"
internal_buses = [25]
boundary_buses = [38, 2, 16]
net_eq1 = get_equivalent(net, eq_type, boundary_buses, internal_buses)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

In [43]:
net_eq1.bus

   name  vn_kv type zone  in_service  max_vm_pu  min_vm_pu
0     1  345.0    b  2.0        True        1.1        0.9
1     2  345.0    b  2.0        True        1.1        0.9
2     3  345.0    b  2.0        True        1.1        0.9
16   17  345.0    b  2.0        True        1.1        0.9
24   25  345.0    b  2.0        True        1.1        0.9
25   26  345.0    b  2.0        True        1.1        0.9
26   27  345.0    b  2.0        True        1.1        0.9
27   28  345.0    b  3.0        True        1.1        0.9
28   29  345.0    b  3.0        True        1.1        0.9
29   30  345.0    b  2.0        True        1.1        0.9
30   31  345.0    b  1.0        True        1.1        0.9
36   37  345.0    b  2.0        True        1.1        0.9
37   38  345.0    b  3.0        True        1.1        0.9
38   39  345.0    b  1.0        True        1.1        0.9

In [42]:
net_eq1.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,controllable
0,None,0,97.6,44.2,0.0,0.0,NaN,1.0,True,None,False
14,None,24,224.0,47.2,0.0,0.0,NaN,1.0,True,None,False
15,None,25,139.0,17.0,0.0,0.0,NaN,1.0,True,None,False
16,None,26,281.0,75.5,0.0,0.0,NaN,1.0,True,None,False
17,None,27,206.0,27.6,0.0,0.0,NaN,1.0,True,None,False
18,None,28,283.5,26.9,0.0,0.0,NaN,1.0,True,None,False
1,None,2,322.0,2.4,0.0,0.0,NaN,1.0,True,None,False
19,None,30,9.2,4.6,0.0,0.0,NaN,1.0,True,None,False
20,None,38,1104.0,250.0,0.0,0.0,NaN,1.0,True,None,False

In [41]:
net_eq1.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service,max_loading_percent
0,None,None,0,1,1.0,4.165875,48.919275,1557.117675,0.0,1.004087,1.0,1,ol,True,100.0
1,None,None,0,38,1.0,1.190250,29.756250,1671.444477,0.0,1.673479,1.0,1,ol,True,100.0
2,None,None,1,2,1.0,1.547325,17.972775,573.194026,0.0,0.836740,1.0,1,ol,True,100.0
3,None,None,1,24,1.0,8.331750,10.236150,325.374525,0.0,0.836740,1.0,1,ol,True,100.0
25,None,None,16,26,1.0,1.547325,20.591325,716.715392,0.0,1.004087,1.0,1,ol,True,100.0
30,None,None,24,25,1.0,3.808800,38.445075,1183.382690,0.0,1.004087,1.0,1,ol,True,100.0
31,None,None,25,26,1.0,1.666350,17.496675,533.970796,0.0,1.004087,1.0,1,ol,True,100.0
32,None,None,25,27,1.0,5.118075,56.417850,1738.747975,0.0,1.004087,1.0,1,ol,True,100.0
33,None,None,25,28,1.0,6.784425,74.390625,2293.221822,0.0,1.004087,1.0,1,ol,True,100.0
34,None,None,27,28,1.0,1.666350,17.972775,554.919566,0.0,1.004087,1.0,1,ol,True,100.0

In [30]:
# equivalent type
eq_type = "ward"
internal_buses = [7]
boundary_buses = [6,8]
net_eq2 = get_equivalent(net, eq_type, boundary_buses, internal_buses)
net_eq2

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

This pandapower network includes the following parameter tables:
   - bus (5 elements)
   - load (2 elements)
   - gen (1 element)
   - ext_grid (1 element)
   - line (3 elements)
   - impedance (3 elements)
   - ward (3 elements)
   - poly_cost (1 element)
   - group (2 elements)
   - bus_geodata (5 elements)
 and the following results tables:
   - res_bus (5 elements)
   - res_line (3 elements)
   - res_impedance (3 elements)
   - res_ext_grid (1 element)
   - res_load (2 elements)
   - res_gen (1 element)
   - res_ward (3 elements)

In [32]:
net_eq2.res_ward

        p_mw     q_mvar     vm_pu
0  24.736648  -4.811209  1.000000
1 -34.519536 -23.191242  0.985645
2  16.294153 -13.626552  0.957621