In [1]:
# Definición de variables 
import pandapower.networks as pp_net
import pandapower as pp
# cargamos el modelo eléctrico 
net = pp_net.case9()
#net.sn_mva = 1.0
pp.runpp(net)
net

numba cannot be imported and numba functions are disabled.
Probably the execution is slow.
Please install numba to gain a massive speedup.
(or if you prefer slow execution, set the flag numba=False to avoid this warning!)

This pandapower network includes the following parameter tables:
   - bus (9 elements)
   - load (3 elements)
   - gen (2 elements)
   - ext_grid (1 element)
   - line (9 elements)
   - poly_cost (3 elements)
   - bus_geodata (9 elements)
 and the following results tables:
   - res_bus (9 elements)
   - res_line (9 elements)
   - res_ext_grid (1 element)
   - res_load (3 elements)
   - res_gen (2 elements)

In [9]:
net.ext_grid.index.values

array([0])

In [5]:
net.gen

,bus,controllable,in_service,name,p_mw,scaling,sn_mva,type,vm_pu,slack,max_p_mw,min_p_mw,max_q_mvar,min_q_mvar,slack_weight
0,1,True,True,None,163.0,1.0,NaN,None,1.0,False,300.0,10.0,300.0,-300.0,0.0
1,2,True,True,None,85.0,1.0,NaN,None,1.0,False,270.0,10.0,300.0,-300.0,0.0

In [22]:
pp.runpp(net)

In [38]:
net.bus

    in_service  max_vm_pu  min_vm_pu name type  vn_kv zone
0         True       1.06       0.94    1    b  115.0  1.0
1         True       1.06       0.94    2    b  115.0  1.0
2         True       1.06       0.94    3    b  115.0  1.0
3         True       1.06       0.94    4    b  115.0  1.0
4         True       1.06       0.94    5    b  115.0  1.0
5         True       1.06       0.94    6    b  115.0  1.0
6         True       1.06       0.94    7    b  115.0  1.0
7         True       1.06       0.94    8    b  115.0  1.0
8         True       1.06       0.94    9    b  115.0  1.0
9         True       1.06       0.94   10    b  115.0  1.0
10        True       1.06       0.94   11    b  115.0  1.0
11        True       1.06       0.94   12    b  115.0  1.0
12        True       1.06       0.94   13    b  115.0  1.0
13        True       1.06       0.94   14    b  115.0  1.0
14        True       1.06       0.94   15    b  115.0  1.0
15        True       1.06       0.94   16    b  115.0  1.0
16        True       1.06       0.94   17    b  115.0  1.0
17        True       1.06       0.94   18    b  500.0  1.0
18        True       1.06       0.94   19    b  500.0  1.0
19        True       1.06       0.94   20    b  500.0  1.0
20        True       1.06       0.94   21    b  138.0  1.0
21        True       1.06       0.94   22    b  138.0  1.0
22        True       1.06       0.94   23    b  138.0  1.0
23        True       1.06       0.94   24    b  138.0  1.0
24        True       1.06       0.94   25    b  345.0  1.0
25        True       1.06       0.94   26    b  161.0  1.0
26        True       1.06       0.94   27    b  161.0  1.0
27        True       1.06       0.94   28    b  161.0  1.0
28        True       1.06       0.94   29    b  161.0  1.0
29        True       1.06       0.94   30    b  345.0  1.0
30        True       1.06       0.94   31    b  345.0  1.0
31        True       1.06       0.94   32    b  345.0  1.0
32        True       1.06       0.94   33    b  345.0  1.0
33        True       1.06       0.94   34    b  138.0  1.0
34        True       1.06       0.94   35    b  138.0  1.0
35        True       1.06       0.94   36    b  138.0  1.0
36        True       1.06       0.94   37    b  138.0  1.0
37        True       1.06       0.94   38    b  138.0  1.0
38        True       1.06       0.94   39    b  138.0  1.0
39        True       1.06       0.94   40    b  138.0  1.0
40        True       1.06       0.94   41    b  230.0  1.0
41        True       1.06       0.94   42    b  230.0  1.0
42        True       1.06       0.94   43    b  230.0  1.0
43        True       1.06       0.94   44    b  138.0  1.0
44        True       1.06       0.94   45    b  138.0  1.0
45        True       1.06       0.94   46    b  138.0  1.0
46        True       1.06       0.94   47    b  138.0  1.0
47        True       1.06       0.94   48    b  138.0  1.0
48        True       1.06       0.94   49    b  138.0  1.0
49        True       1.06       0.94   50    b  138.0  1.0
50        True       1.06       0.94   51    b  138.0  1.0
51        True       1.06       0.94   52    b  161.0  1.0
52        True       1.06       0.94   53    b  161.0  1.0
53        True       1.06       0.94   54    b  161.0  1.0
54        True       1.06       0.94   55    b  161.0  1.0
55        True       1.06       0.94   56    b  230.0  1.0
56        True       1.06       0.94   57    b  230.0  1.0

In [32]:
net.res_gen

    p_mw      q_mvar  va_degree  vm_pu
0    0.0   -0.686492  -1.206976  1.010
1   40.0    4.118903  -6.067217  0.985
2    0.0    5.791756  -8.865008  0.980
3  450.0   67.630121  -4.648314  1.005
4    0.0    0.945191  -9.690287  0.980
5  310.0  125.602242 -10.525304  1.015